extends layouts/template.pug
block template
  section#cart.section-p1
    .container2
    table(width='100%')
      thead
        tr
          td 
          td Name
          td Image
          td Description
          td Price
          td Quantity
      tbody#incart
        each item in user.cart 
          tr
            td
              form(action=`/cart/remove/${item.id}` method='post')
                button(type='submit') Remove 
            td
              p=item.name
            td
              img.image(src=item.image)
            td
              p#nametd=item.description
            td
              p#pricetd=item.price
            td
              input(type='number' value=item.quantity)

  section#cart-add.section-p1
    #subtotal
      h3 Cart Total
      table
        tbody
          tr
            td Cart Subtotal
            td=cart_total
          tr
            td Shipping
            td=shipping
          tr
            td
              strong Total
            td
              strong=parseFloat(cart_total)+parseFloat(shipping)+0.5
      form(action='/cart/buy' method='post')
        button(type='submit').normal Buy Items