extends layouts/template.pug
block template
    section#prodetails.section-p1
        .single-pro-img
            img#prodimg1(src=product.image width='100%' alt='')
        .single-pro-detail
            h6#prodcat1=product.category
            h4#prodname1= product.name
            h2#prodprice1= '$'+product.price
            select
                option Select Size
                option 8.25&quot;
                option 8.375&quot;
                option 8.5&quot;
                option 8.75&quot;
            input(type='number' value='1')
            .container2
                button.button(href='#' onclick='')
                    .button__line
                    .button__line
                    span.button__text Add to Cart
                    .button__drow1
                    .button__drow2
            h4 Product Details
            h3=product.description